<h1> Listing all articles </h1>
<p>

  <%= link_to 'Create an article' , new_article_path %> |
  <%= link_to 'Back to home' , root_path %>
</p>

<table>
  <th style="padding: 10px"> Title </th>
  <th style="padding-left: 70px"> Description </th>
  <% @articles.each do |article|%>
  <tr>
    <td style="padding-left: 10px"> <%= article.title %> </td>
    <td style="padding-left: 30px"> <%= article.description %> </td>
    <td style="padding-left: 30px"> <%= link_to 'Edit' , edit_article_path(article) %> </td>
    <td style="padding-left: 10px"> <%= link_to 'Show' , article_path(article) %> </td>
    <td style="padding-left: 10px"> <%= link_to 'Delete' , article_path(article) , method: :delete , data: {confirm: "Are you sure"} %> </td>
  </tr>
  <% end %>
</table>